<header class="header">
    <nav class="navbar">
        <section class="navbar-user-section">
            <button
                class="hamburger-btn btn"
                (click)="windowService.isSidebarVisible = true"
            >
                <i class="pi pi-bars"></i>
            </button>
            <dd24-logo class="logo"></dd24-logo>
            <div class="spacer"></div>
            @if ((authenticationService.isLogged$ | async) === false) {
                <p-button
                    class="nav-auth-btn"
                    severity="secondary"
                    (onClick)="
                        navigationService.navigateRedirectingBack('/auth/login')
                    "
                >
                    {{ "NAV.ACTIONS.LOGIN" | translate }}
                </p-button>
                <p-button
                    class="nav-auth-btn"
                    severity="secondary"
                    (onClick)="
                        navigationService.navigateRedirectingBack(
                            '/auth/register'
                        )
                    "
                >
                    {{ "NAV.ACTIONS.REGISTER" | translate }}
                </p-button>
            } @else {
                <span>logged</span>
            }
        </section>
        <section class="navbar-search-section">
            <dd24-search-section></dd24-search-section>
        </section>
        <section class="navbar-tabs-section">
            <section class="navbar-tabs">
                @for (
                    tab of navigationService.mainPages$ | async;
                    track $index
                ) {
                    <a class="navbar-tab custom-link" [routerLink]="tab.url">{{
                        tab.name
                    }}</a>
                }
            </section>
            <section class="navbar-path">
                <p-breadcrumb
                    class="max-w-full"
                    [model]="(routes$ | async) ?? []"
                    [home]="(homepageEntry$ | async) ?? { label: 'DD24' }"
                />
            </section>
        </section>
    </nav>
</header>
