<div class="form-card">
    <h1>{{ "LOGIN.HEADER" | translate }}</h1>
    <a routerLink="../register" class="registration-link link">
        {{ "LOGIN.REGISTER_LINK" | translate }}
    </a>
    <form class="google-login">
        <p-button
            class="google-login-btn p-fluid"
            type="submit"
            severity="secondary"
        >
            <img src="assets/google.svg" alt="google-logo" />
            {{ "LOGIN.GOOGLE_FORM.BUTTON_TEXT" | translate }}
        </p-button>
    </form>

    <p-divider class="divider" align="center">{{
        "LOGIN.SEPARATOR_TEXT" | translate
    }}</p-divider>

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="dd24Login()">
        <section class="inputs">
            <div class="input email-input">
                <label for="email">{{
                    "LOGIN.FORM.EMAIL.LABEL" | translate
                }}</label>
                <dd24-input
                    controlName="email"
                    [errorMessages]="[
                        {
                            validation: 'required',
                            message:
                                ('LOGIN.FORM.EMAIL.ERRORS.REQUIRED' | translate)
                        },
                        {
                            validation: 'email',
                            message:
                                ('LOGIN.FORM.EMAIL.ERRORS.EMAIL' | translate)
                        }
                    ]"
                >
                    <input
                        class="p-fluid"
                        type="email"
                        pInputText
                        formControlName="email"
                        name="email"
                        [placeholder]="
                            'LOGIN.FORM.EMAIL.PLACEHOLDER' | translate
                        "
                        id="email"
                    />
                </dd24-input>
            </div>
            <div class="input password-input">
                <label for="password">{{
                    "LOGIN.FORM.PASSWORD.LABEL" | translate
                }}</label>
                <dd24-input
                    controlName="password"
                    [errorMessages]="[
                        {
                            validation: 'required',
                            message:
                                ('LOGIN.FORM.PASSWORD.ERRORS.REQUIRED'
                                | translate)
                        },
                        {
                            validation: ['pattern', 'minlength', 'maxlength'],
                            message:
                                ('LOGIN.FORM.PASSWORD.ERRORS.INVALID'
                                | translate)
                        }
                    ]"
                >
                    <p-password
                        class="p-fluid"
                        type="password"
                        formControlName="password"
                        name="password"
                        [feedback]="false"
                        toggleMask="true"
                        [placeholder]="
                            'LOGIN.FORM.PASSWORD.PLACEHOLDER' | translate
                        "
                        inputId="password"
                    />
                </dd24-input>
            </div>
        </section>
        <a routerLink="../forgot-password" class="link">
            {{ "LOGIN.FORGOT_PASSWORD_LINK" | translate }}
        </a>
        @if (error) {
            <span class="error">{{ error }}</span>
        }
        <p-button
            [label]="'LOGIN.BUTTON_TEXT' | translate"
            type="submit"
            class="login-submit"
        ></p-button>
    </form>
</div>
